.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.4);
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-box{
    width:350px;
    background:white;
    padding:25px;
    border-radius:10px;
}

.modal-box input{
    width:100%;
    padding:10px;
    margin:20px 0;
}

.btn-group{
    display:flex;
    justify-content:space-between;
}

.cancel-btn{
    background:#999;
    color:white;
    border:none;
    padding:8px 20px;
    border-radius:6px;
}